TestClientSource/TestClient/Connected Services/ServiceReference1/YoyakuService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="YoyakuService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8585/YoyakuService/mex?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8585/YoyakuService/mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IYoyakuService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IYoyakuService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IYoyakuService_GetStay_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStay" />
  </wsdl:message>
  <wsdl:message name="IYoyakuService_GetStay_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStayResponse" />
  </wsdl:message>
  <wsdl:portType name="IYoyakuService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IYoyakuService/GetData" message="tns:IYoyakuService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IYoyakuService/GetDataResponse" message="tns:IYoyakuService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStay">
      <wsdl:input wsaw:Action="http://tempuri.org/IYoyakuService/GetStay" message="tns:IYoyakuService_GetStay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IYoyakuService/GetStayResponse" message="tns:IYoyakuService_GetStay_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IYoyakuService" type="tns:IYoyakuService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IYoyakuService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStay">
      <soap:operation soapAction="http://tempuri.org/IYoyakuService/GetStay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="YoyakuService">
    <wsdl:port name="BasicHttpBinding_IYoyakuService" binding="tns:BasicHttpBinding_IYoyakuService">
      <soap:address location="http://localhost:8585/YoyakuService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>